.header {
    background-color: midnightblue;
    height: 90px;
    display: flex;
    justify-content: right;
    text-align: right;
    box-shadow: 0 0 18px 5px #00538b;
}

.header img {
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.header p {
    color: whitesmoke;
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    line-height: 15px;
    margin: 20px 15px;
}